html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    font-size: 15px;
    line-height: 1.5;
    background: #fafafa url(../images/body-bg.jpg) 0 0 repeat;
    font-family: "IranianSans",'Helvetica Neue', Helvetica, Arial, serif;
    font-weight: 400;
    color: #666;
}
a {
    color: #2879d0;
}
a:hover {
    color: #2268b2;
}
header {
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    background: #2e7bcf url(../images/header-bg.jpg) 0 0 repeat-x;
    border-bottom: solid 1px #275da1;
}
header h1 {
    font-family: "Homa",'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;    
    font-size: 72px;
    color: #fff;
    line-height: 1;
    margin-bottom: 0.2em;
}
header h2 {
    font-size: 26px;
    color: #9ddcff;
    font-weight: normal;
    line-height: 1.3;    
    letter-spacing: 0;
    font-family: "Roya",'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; 
}
.clicked{
	font-weight: bold;
	text-decoration:underline;
}
.bolded{
	font-weight:bold;
}
.italiced{
	font-style:italic;
}
.undered{
	text-decoration:underline;
}
.gh-btn-in{
	width:15px;
	text-align:center;
	margin: 0 2px;
}
.github-me-right .gh-btn{
	float:right;
}
.github-btn {
  height: 20px;
  overflow: hidden;
}
.gh-btn.controled{
	color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  border-color: #518cc6 #518cc6 #2a65a0;
  background-color: #3072b3;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
  background-image: -webkit-linear-gradient(#599bdc, #3072b3);
  background-image: -moz-linear-gradient(top, #599bdc, #3072b3);
  background-image: -ms-linear-gradient(#599bdc, #3072b3);
  background-image: -o-linear-gradient(#599bdc, #3072b3);
  background-image: linear-gradient(#599bdc, #3072b3);
}
.gh-btn,
.gh-count,
.gh-ico {
  float: left;
}
.gh-btn,
.gh-count {
  padding: 2px 5px 2px 4px;
  color: #555;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  white-space: nowrap;
  cursor: pointer;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
.gh-btn {
  background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#eaeaea));
  background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
  background-image: -moz-linear-gradient(top, #fafafa, #eaeaea);
  background-image: -ms-linear-gradient(#fafafa, #eaeaea);
  background-image: -o-linear-gradient(#fafafa, #eaeaea);
  background-image: linear-gradient(#fafafa, #eaeaea);
  background-repeat: no-repeat;
  border: 1px solid #d4d4d4;
  border-bottom-color: #bcbcbc;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
.gh-btn:hover,
.gh-btn:focus,
.gh-btn:active {
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  border-color: #518cc6 #518cc6 #2a65a0;
  background-color: #3072b3;
}
.gh-btn:hover,
.gh-btn:focus {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
  background-image: -webkit-linear-gradient(#599bdc, #3072b3);
  background-image: -moz-linear-gradient(top, #599bdc, #3072b3);
  background-image: -ms-linear-gradient(#599bdc, #3072b3);
  background-image: -o-linear-gradient(#599bdc, #3072b3);
  background-image: linear-gradient(#599bdc, #3072b3);
}
.gh-btn:active {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 5px rgba(0,0,0,.10);
     -moz-box-shadow: inset 0 2px 5px rgba(0,0,0,.10);
          box-shadow: inset 0 2px 5px rgba(0,0,0,.10);
}
.gh-ico {
  width: 14px;
  height: 15px;
  margin-top: -1px;
  margin-right: 4px;
  vertical-align: middle;
  background: url('http://ghbtns.com/github-icons.png') no-repeat 0 0;
}
.gh-btn:hover .gh-ico,
.gh-btn:focus .gh-ico,
.gh-btn:active .gh-ico {
  background-position: -25px 0;
}
.gh-count {
  position: relative;
  display: none; /* hidden to start */
  margin-left: 4px;
  background-color: #fafafa;
  border: 1px solid #d4d4d4;
}
.gh-count:hover,
.gh-count:focus {
  color: #4183C4;
}
.gh-count:before,
.gh-count:after {
  content: ' ';
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.gh-count:before {
  top: 50%;
  left: -3px;
  margin-top: -4px;
  border-width: 4px 4px 4px 0;
  border-right-color: #fafafa;
}
.gh-count:after {
  top: 50%;
  left: -4px;
  z-index: -1;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #d4d4d4;
}
.github-btn-large {
  height: 30px;
}
.github-btn-large .gh-btn,
.github-btn-large .gh-count {
  padding: 3px 10px 3px 8px;
  font-size: 16px;
  line-height: 22px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.github-btn-large .gh-ico {
  width: 22px;
  height: 23px;
  background-position: 0 -20px;
}
.github-btn-large:hover .gh-ico,
.github-btn-large:focus .gh-ico,
.github-btn-large:active .gh-ico {
  background-position: -25px -20px;
}
.github-btn-large .gh-count {
  margin-left: 6px;
}
.github-btn-large .gh-count:before {
  left: -5px;
  margin-top: -6px;
  border-width: 6px 6px 6px 0;
}
.github-btn-large .gh-count:after {
  left: -6px;
  margin-top: -7px;
  border-width: 7px 7px 7px 0;
}
@media (-moz-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  .gh-ico {
    background-image: url(github-icons-2x.png);
    background-size: 50px 45px;
  }

}

.inner {
    position: relative;
    width: 940px;
    margin: 0 auto;
    text-align:right;
    direction: rtl;
}
#content-wrapper {
    border-top: solid 1px #fff;
    padding-top: 30px;
}
#main-content {
    width: 690px;
    float: right;
}
#main-content img {
    max-width: 100%;
}
aside#sidebar {
    width: 200px;
    padding-right: 20px;
    min-height: 504px;
    float: left;
    background: transparent url(../images/sidebar-bg.jpg) 210px top repeat-y;
    font-size: 12px;
    line-height: 1.3;
}
aside#sidebar p.repo-owner, aside#sidebar p.repo-owner a {
    font-weight: bold;
}
#downloads {
    margin-bottom: 40px;
}
a.button {
    width: 134px;
    height: 58px;
    line-height: 1.2;
    font-size: 23px;
    color: #fff;
    padding-left: 68px;
    padding-top: 22px;
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    text-align: left;
}
a.button small {
    display: block;
    font-size: 11px;
}
header a.button {
    position: absolute;
    left: 0;
    top: 0;
    background: transparent url(../images/github-button.png) 0 0 no-repeat;
}
aside a.button {
    width: 138px;    
    display: block;
    background: transparent url(../images/download-button.png) 0 0 no-repeat;
    margin-bottom: 20px;
    font-size: 21px;
}
code, pre {
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    color: #222;
    margin-bottom: 30px;
    font-size: 13px;
    direction:ltr;
    text-align:left;
}
code {
    background-color: #f2f8fc;
    border: solid 1px #dbe7f3;
    padding: 0 3px;
}
pre {
    padding: 20px;
    background: #fff;
    text-shadow: none;
    overflow: auto;
    border: solid 1px #f2f2f2;
}
pre code {
    color: #2879d0;
    background-color: #fff;
    border: none;
    padding: 0;
}
ul, ol, dl {
    margin-bottom: 20px;
}
hr {
    height: 1px;
    line-height: 1px;
    margin-top: 1em;
    padding-bottom: 1em;
    border: none;
    background: transparent url('../images/hr.png') 0 0 no-repeat;
}
table {
    width: 100%;
    border: 1px solid #ebebeb;
}
th {
    font-weight: 500;
}
td {
    border: 1px solid #ebebeb;
    text-align: center;
    font-weight: 300;
}
form {
    background: #f2f2f2;
    padding: 20px;
}
#main-content h1 {
    font-family: "Titr",'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 2.8em;
    letter-spacing: -1px;
    color: #474747;
}
#main-content h1:before {
    content: "/";
    color: #9ddcff;
    padding-left: 0.3em;
    margin-right: -0.9em;
    float:right;
}
#main-content h2 {
    font-family: "Roya",'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #474747;
}
#main-content h2:before {
    content: "//";
    color: #9ddcff;
    padding-left: 0.3em;
    margin-right: -1.5em;
    float:right;
}
#main-content h3 {
    font-family: "Titr",'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 18px;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 8px;
    color: #474747;
}
#main-content h3:before {
    content: "///";
    color: #9ddcff;
    padding-left: 0.3em;
    margin-right: -2em;
    float:right;
}
#main-content h4 {
    font-family: "Titr",'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 15px;
    font-weight: bold;
    color: #474747;
}
h4:before {
    content: "////";
    color: #9ddcff;
    padding-left: 0.3em;
    margin-right: -2.8em;
    float:right;
}
#main-content h5 {
    font-family: "Titr",'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 14px;
    color: #474747;
}
h5:before {
    content: "/////";
    color: #9ddcff;
    padding-left: 0.3em;
    margin-right: -3.2em;
    float:right;
}
#main-content h6 {
    font-family: "Titr",'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: .8em;
    color: #474747;
}
h6:before {
    content: "//////";
    color: #9ddcff;
    padding-left: 0.3em;
    margin-right: -3.7em;
    float:right;
}
p {
    margin-bottom: 20px;    
}
.inner p {
    text-align:justify;
}
a {
    text-decoration: none;
}
p a {
    font-weight: 400;
}
blockquote {
    font-size: 1.6em;
    border-right: 10px solid #e9e9e9;
    margin-bottom: 20px;
    padding: 0 30px 0 0;
}
ul li {
    list-style: disc inside;
    padding-right: 20px;
}
ol li {
    list-style: decimal inside;
    padding-right: 3px;
}
dl dd {
    font-style: italic;
    font-weight: 100;
}
footer {
    background: transparent url('../images/hr.png') 0 0 no-repeat;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 13px;
    color: #aaa;
}
footer a {
    color: #666;
}
footer a:hover {
    color: #444;
}
.clearfix:after {
    clear: both;
    content: '.';
    display: block;
    visibility: hidden;
    height: 0;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
}
@media only screen and (min-width:768px) and (max-width:959px) {
    .inner {
    width: 740px;
}
header h1, header h2 {
    width: 340px;
}
header h1 {
    font-size: 60px;
}
header h2 {
    font-size: 30px;
}
#main-content {
    width: 490px;
}
#main-content h1:before, #main-content h2:before, #main-content h3:before, #main-content h4:before, #main-content h5:before, #main-content h6:before {
    content: none;
    padding-left: 0;
    margin-right: 0;
}
}
@media only screen and (max-width:767px) {
    .inner {
    width: 93%;
}
header {
    padding: 20px 0;
}
header .inner {
    position: relative;
}
header h1, header h2 {
    width: 100%;
}
header h1 {
    font-size: 48px;
}
header h2 {
    font-size: 24px;
}
header a.button {
    background-image: none;
    width: auto;
    height: auto;
    display: inline-block;
    margin-top: 15px;
    padding: 5px 10px;
    position: relative;
    text-align: center;
    font-size: 13px;
    line-height: 1;
    background-color: #9ddcff;
    color: #2879d0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
header a.button small {
    font-size: 13px;
    display: inline;
}
#main-content, aside#sidebar {
    float: none;
    width: 100% ! important;
}
aside#sidebar {
    background-image: none;
    margin-top: 20px;
    border-top: solid 1px #ddd;
    padding: 20px 0;
    min-height: 0;
}
aside#sidebar a.button {
    display: none;
}
#main-content h1:before, #main-content h2:before, #main-content h3:before, #main-content h4:before, #main-content h5:before, #main-content h6:before {
    content: none;
    padding-left: 0;
    margin-right: 0;
}

